/* @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Montserrat:wght@400;700&display=swap'); */
@import "blocks/header.css";
@import "blocks/intro.css";
@import "blocks/services.css";
@import "blocks/wedo.css";
@import "blocks/accordion.css";
@import "blocks/burger.css";
@import "blocks/topButton.css";
@import "blocks/footer.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}

.icon-phone-square:before {
  content: "\f098";
}

.icon-comment-o:before {
  content: "\f0e5";
}

.icon-hand-peace-o:before {
  content: "\f25b";
}

.icon-headphones:before {
  content: "\e910";
}

.icon-dice:before {
  content: "\e915";
}

.icon-pacman:before {
  content: "\e916";
}

.icon-file-music:before {
  content: "\e928";
}

.icon-quotes-left:before {
  content: "\e977";
}

.icon-quotes-right:before {
  content: "\e978";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-facebook2:before {
  content: "\ea91";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.icon-vk:before {
  content: "\ea98";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-github:before {
  content: "\eab0";
}

.icon-skype:before {
  content: "\eac5";
}

body {
  margin: 0;
  /* font-family: 'Akaya Telivigala', cursive; */
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  line-height: 1.6;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style-type: none;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
}


.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}

.none {
  display: none;
}

.section {
  width: 100%;
  margin: 15px auto;

}

.section__header {
  text-align: center;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__suptitle {
  
  font-size: 24px;
 
  font-family: 'Akaya Telivigala', cursive;
}

.section__title {
 
  font-size: 30px;
  font-weight: 700;
  color: #333;
}
.section__text {
  width: 70%;
  margin: auto;
  padding-bottom: 20px;
}
.list {
  width: 70%;
  margin: auto;
}
.list__item {
  padding-bottom: 20px;
}

.works {
 
}
.works__col {
 display: flex;
 flex:1 1 0;
 
}
.works__item {
  position: relative;
  /* background:linear-gradient(to bottom, #f38181, #fce38a); */
}
/* .works__item:hover .works__image{
  opacity: 1;
}
.works__item:hover .works__info{
  opacity: 1;
} */
.works__image {
  display: block;
  max-width: 100%;
  height: auto;
  /* transition: opacity .2s linear; */
}
.works__info {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  color: rgb(170, 8, 8);
  opacity: 0;
}

.reviews {
  position: relative;
}
.reviews .reviews-slider {
  padding: 0 110px;
}
.reviews__item {
  min-height: 210px;
  padding-left: 255px;
  position: relative;
}
.reviews__photo {
  display: block;
  width: 210px;
  height: 210px;
  max-width: 100%;

  border: 2px solid #95e1d3;
  border-radius: 50%;
  position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.reviews__text {
  margin-bottom: 15px;

  font-size:1rem;
  font-style: italic;
  font-weight: 300;
  color: #999;
}

.reviews__author {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #333;
}

.reviews__author:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;

  background-color: #f38181;
}


@media(max-width:1200px) {}

@media(max-width:950px) {
  /* Reviews */
  .reviews .slick-slider {
    padding: 0 60px;
}

.reviews__photo {
    width: 150px;
    height: 150px;
}

.reviews__item {
    padding-left: 175px;
}
}

@media(max-width:900px) {}
@media(max-width:770px) {
  .works__col {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
   /* Reviews */
   .reviews__photo {
    position: static;
    margin: 0 auto 20px;
}

.reviews__item {
    padding-left: 0;
}

.reviews__text {
    font-size: 16px;
}

.reviews__author {
    font-size: 20px;
}
}

@media(max-width:575px) {}