@import "./blocks/base.css";
@import "./blocks/nav.css";
@import "./blocks/header.css";
@import "./blocks/butons.css";
@import "./blocks/section-header.css";
@import "./blocks/product.css";
@import "./blocks/info-section.css";
@import "./blocks/post.css";
@import "./blocks/subscribe-form.css";
@import "./blocks/footer.css";
/*font-family: 'Noto Sans', sans-serif;
font-family: 'Playfair Display', serif;*/

body {
	margin: 0px;
	font-family: 'Noto Sans', sans-serif;
}



/* button outline */
.button-outline {
	margin-left: 50%;
	display: inline-block;
	padding: 10px 40px 11px;
	background:#fff;
	border: 1px solid #f72464;
	border-radius:4px;

	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height:1;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #777777;
	transition:background-color 0.2s ease-in, color 0.2s ease-in;
}
.button-outline:hover {
	background:#f72464;
	color: #ffffff;
}
