.Services {
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &__item--border {
        border-bottom: 1px solid #e5e5e5;
    }

    &__item{
        width:30%;
        padding: 0 35px 40px 85px;
        position: relative;
        margin-bottom: 40px;
    }
    &__icon {
        position: absolute;
        top: 0;
        left: 28px;
        z-index: 1;
    }
    &__title {
        margin-bottom: 10px;
        font-size: 1rem;
        color: #333333;
        text-transform: uppercase;
    }
    &__text {
        font-size: 1rem;
        color: #999999;
    }
}