.button-outline {
background-color: rgb(247,36,100);
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    height: 38px;
    font-size: 14px;
    font-family:'lora', Serif;
    text-transform: uppercase;
    color: rgb(145,145,145);
    line-height: 1;
    padding-top: 12px;
    width: 220px;
    text-align: center;
    display: block;
    margin-left:auto;
    margin-right:auto;
transition: all 0.2s ease-in;

}
.button-outline:hover {
    border-color: rgb(247,36,100);
    color: #fff;
    text-decoration:none;
}