.fa-angle-down {
    display: none;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    max-width:100%;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
    &__header {
        padding: 15px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__title {
        text-transform: uppercase;
        font-weight: bolder;
    }
    &__button {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__body {
        padding: 0 15px 15px;

    }
    &__img {
        border-radius: 5px;
        max-width:100%;
        margin-right: 10px;
        float: left;
    }
    &__description {
        text-align: start;
        font-size: 1.6rem;
        line-height: 1.7rem;
        font-weight: 500;
    }
    @media screen and (max-width: 992px) {
        .card__body {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .card__img {
            max-width:100%;
            margin-bottom: 10px;
            float: none;
        }
        .card__description {
            width: 100%;
            text-align: center;

        }
    }
}

