.social {

    font-size: 22px;
    &__link {
        border-bottom: none;
    }
    &__item {
        display: inline-block;
        vertical-align: middle;
        & + li {
            margin-left: 10px;
        }
        &__link {
            display: block;
        }
    }
    .fa-vk {
        &:hover {
            color: #5078b4;
        }
    }
    .fa-facebook-f {
        &:hover {
            color: #2d57b4;
        }
    }
    .fa-twitter {
        &:hover {
            color: #25a6c7;
        }
    }
    .fa-instagram {
        &:hover {
            color: #c74f7e;
        }
    }
    .fa-android {
        &:hover {
            color: #23c73b;
        }
    }
}