.Button {
    padding: 0 12px;
    font-size: 15px;
    line-height: 38px;
    color: #202020;
    border: none;
    border-radius: 3px;
    background: #e8e8e8;

}

.Search-Button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

