/*выпадающее меню первая вложенность*/
%dropdown {
    position: absolute;
    background-color: #fff;
    text-align: left;
}

%dropdown-item {
    display: block;
    list-style: none;
}

%dropdown-link {
    display: block;
    text-decoration: none;
    color: #34383d;
    border: 1px solid #ecf0f1;
    margin-top: -1px;
    padding: 10px 25px 10px 18px;
}

.dropdown {
    top: 0;
    position: relative;
    background-color: #fff;
    border-left: 1px solid #ecf0f1;
    z-index: 1;

    &__link {
        border: none;
        padding-bottom: 0;
    }
    display: none;
    position: absolute;
    background-color: #fff;
    text-align: left;
    width: 226px;
    left: 8px;
    top: 63px;

    &_open {
        display: block;
    }

    &::before {
        display: block;
        content: "";
        position: absolute;
        width: 50%;
        top: -2px;
        left: 0;
        height: 2px;
        background-color: #3fb8d6;
        z-index: 11;
    }

    &__item {
        @extend %dropdown-item;
        position: relative;
    }

    &__link {
        @extend %dropdown-link;
        padding-right: 31px;
        position: relative;

        &::after {
            display: block;
            position: absolute;
            top: 20px;
            content: "";
            width: 7px;
            height: 4px;
            background: url(../img/spritesheet.png) no-repeat -10px -10px;
            transform: rotate(-90deg);
            right: 17px;
        }

        &_selected {
            color: #41bedd;
        }
    }
}

@media screen and (max-width: 1110px) {
    .dropdown {
        top: 53px;
    }
}

@media screen and (max-width: 770px) {
    /*выпадающее меню первая вложенность*/

    %dropdown-small {
        top: 0;
        position: relative;
        background-color: #fff;
        border-left: 1px solid #ecf0f1;
        z-index: 1;
    }

    %dropdown-link-small {
        border: none;
        padding-bottom: 0;
    }

    .dropdown {

        top: 0;
        position: relative;
        background-color: #fff;
        border-left: 1px solid #ecf0f1;
        z-index: 1;

        &__link {
            border: none;
            padding-bottom: 0;
        }
    }
}

@media screen and (max-height: 414px) {
    .dropdown {
        top: 43px;
    }
}