.Header {
    position: relative;
    z-index: 100;
    padding: 14px 0;
    border-bottom:1px solid #ccc;
    background:#fff;
    &-Inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

