.Snippet {
    width: 200px;
    margin-bottom: 17px;
    padding: 17px;
    text-align: center;
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .28);
    &-Headline {
        position: relative;
        padding-bottom: 15px;
        text-transform: uppercase;
        color: #404040;
        &:after {
            position: absolute;
            bottom: 5px;
            left: 17px;
            width: calc(100% - 34px);
            content: "";
            border-bottom: 1px solid #f0f0f0;
        }
    }
    &-Image {
       margin-bottom: 17px;
    }
    &-Category {
        display: block;
        font-size: 0.9rem;
        line-height: 0.8rem;
        text-decoration: none;
        color: #7f7f7f;
        &:hover {
            color: red;
        }
    }
    &-Title {
        display: block;
        overflow: hidden;
        max-width: 80%;
        margin: 0 auto;
        font-size: 1rem;
        line-height: 1.4rem;
        white-space: nowrap;
        text-after-overflow: ellipsis;
         text-decoration: none;
    }
    &:hover &-Title {
        color: red;
    }
    &-Price {
        position: relative;
        margin-bottom: 17px;
        padding-bottom: 17px;
        font-size: 15px;
        font-weight:bold;
        line-height: 17px;
        &:before {
            position: absolute;
            top: 0;
            left: 17px;
            width:calc(100% - 34px);
            content:"";
            border-top:1px solid #f0f0f0;
        }
    }
}