/*
@import "shop/Header";
@import "shop/Logo";
@import "shop/Input";
@import "shop/Button";
@import "shop/Nav";
@import "shop/Heading";
@import "shop/Snippet";
@import "shop/More";
@import "shop/SmallSnippet";
@import "shop/Footer";
*/
/*@import "block/menu-open";
@import "block/menu";
@import "block/dropdown";
@import "block/dropdown2";
@import "block/search";*/
.Header {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; }
  .Header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .Header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff; }

.Intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../img/art/intro.jpg") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .Intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center; }
  .Intro__title {
    color: #ffffff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1; }
    .Intro__title:after {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      margin: 60px auto;
      background-color: #fff; }
  .Intro__suptitle {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #ffffff; }

.Nav {
  font-size: 0.9rem;
  text-transform: uppercase; }
  .Nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear; }
    .Nav__link:after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #fce38a;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0px;
      z-index: 1;
      -webkit-transition: opacity .1s linear;
      -o-transition: opacity .1s linear;
      transition: opacity .1s linear; }
    .Nav__link:hover {
      color: #fce38a; }
      .Nav__link:hover:after {
        opacity: 1; }
    .Nav__link.active {
      color: #fce38a; }
    .Nav__link.active:after {
      opacity: 1; }

.Btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border: 3px solid #fff;
  -webkit-transform: 1rem;
  -ms-transform: 1rem;
  transform: 1rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background .1s linear, color .1s linear;
  -o-transition: background .1s linear, color .1s linear;
  transition: background .1s linear, color .1s linear; }
  .Btn:hover {
    background: #fff;
    color: #333333; }

.Section {
  padding: 80px 0; }
  .Section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center; }
  .Section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.9rem;
    color: #333333; }
  .Section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase; }
    .Section__title:after {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      margin: 30px auto;
      background: #f38181; }
  .Section__text {
    font-size: 1rem;
    color: #999999; }

.CardProduct {
  margin-bottom: 50px;
  font-family: 'Lora', serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .CardProduct__image {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px; }
  .CardProduct__image img {
    max-width: 100%; }
  .CardProduct__image.hovered .CardProduct__hover {
    opacity: 1; }
  .CardProduct__title {
    color: #222222;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600; }
  .CardProduct__price {
    text-align: center;
    font-size: 13px;
    color: #f72464;
    font-weight: 600; }
  .CardProduct__hover {
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .CardProduct__hover:hover {
      opacity: 1;
      -webkit-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
  .CardProduct__button {
    text-align: center;
    margin-bottom: 10px;
    background-color: #f72464;
    font-size: 1rem;
    color: #ffffff;
    padding-top: 10px;
    width: 100px;
    line-height: 1;
    height: 30px;
    display: inline-block;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 5px 30px 0 rgba(31, 35, 37, 0.3);
            box-shadow: 0 5px 30px 0 rgba(31, 35, 37, 0.3);
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    .CardProduct__button:hover {
      background-color: #da0f4d;
      text-decoration: none;
      -webkit-box-shadow: 0 5px 30px 0 rgba(31, 35, 37, 0.4);
              box-shadow: 0 5px 30px 0 rgba(31, 35, 37, 0.4);
      color: #ffffff; }

@media screen and (max-width: 760px) {
  .CardProduct {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .CardProduct__image {
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; } }

.Page {
  margin: 0;
  font-family: 'Montserrat',sans-serif;
  font-size: 1rem;
  color: #333333; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.Container {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto; }

.Row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
