@charset "UTF-8";
.dropdown__item {
  display: block;
  list-style: none; }

.dropdown__link {
  display: block;
  text-decoration: none;
  color: #34383d;
  border: 1px solid #ecf0f1;
  margin-top: -1px;
  line-height: 42px;
  padding-left: 18px; }

.Header {
  margin-bottom: 10%;
  background: -webkit-gradient(linear, right top, left top, from(#35eef6), to(#7c28b1));
  background: -webkit-linear-gradient(right, #35eef6, #7c28b1);
  background: -o-linear-gradient(right, #35eef6, #7c28b1);
  background: linear-gradient(to left, #35eef6, #7c28b1);
  color: #ffffff;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 50px; }
  .Header__h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    padding: 202px 15px 13px; }

@media screen and (max-width: 1110px) {
  .Header__h1 {
    padding-top: 147px;
    font-size: 5vw; } }

@media screen and (max-width: 770px) {
  .Header__h1 {
    padding-top: 67px;
    font-size: 40px; } }

@media screen and (max-height: 414px) {
  .header {
    padding-bottom: 0; }
    .header__h1 {
      padding-top: 35px; } }

/*
.Logo {
    font-size:1rem;
    text-decoration: none;
    color: #000000;
    &__Icon {
        display: inline-block;
        width: 50px;
        height: 42px;
        margin-right: 10px;
    }
}*/
.logo__link {
  display: block;
  text-decoration: none;
  color: #fff;
  width: 105px;
  height: 26px; }

.logo__img {
  width: 100%;
  height: 100%; }

.Input {
  width: 350px;
  height: 42px;
  margin: 10px;
  font-size: 15px;
  line-height: 38px;
  border: 2px solid #e8e8e8;
  -webkit-appearance: none; }

.Button {
  padding: 0 12px;
  font-size: 15px;
  line-height: 38px;
  color: #202020;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #e8e8e8; }

.Search-Button {
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0; }

.Nav {
  position: relative;
  z-index: 10;
  margin-bottom: 14px;
  border-bottom: 1px solid #CCCCCC;
  background: #fff;
  -webkit-box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5); }
  .Nav-List {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0; }
  .Nav-Item {
    font-size: 1.1rem;
    line-height: 3rem;
    text-decoration: none;
    color: gray; }
    .Nav-Item:hover {
      color: red; }

.Heading {
  margin: 0 0 12px;
  font-weight: 500; }

.Snippet {
  width: 200px;
  margin-bottom: 17px;
  padding: 17px;
  text-align: center;
  cursor: pointer;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28); }
  .Snippet-Headline {
    position: relative;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: #404040; }
    .Snippet-Headline:after {
      position: absolute;
      bottom: 5px;
      left: 17px;
      width: -webkit-calc(100% - 34px);
      width: calc(100% - 34px);
      content: "";
      border-bottom: 1px solid #f0f0f0; }
  .Snippet-Image {
    margin-bottom: 17px; }
  .Snippet-Category {
    display: block;
    font-size: 0.9rem;
    line-height: 0.8rem;
    text-decoration: none;
    color: #7f7f7f; }
    .Snippet-Category:hover {
      color: red; }
  .Snippet-Title {
    display: block;
    overflow: hidden;
    max-width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.4rem;
    white-space: nowrap;
    text-after-overflow: ellipsis;
    text-decoration: none; }
  .Snippet:hover .Snippet-Title {
    color: red; }
  .Snippet-Price {
    position: relative;
    margin-bottom: 17px;
    padding-bottom: 17px;
    font-size: 15px;
    font-weight: bold;
    line-height: 17px; }
    .Snippet-Price:before {
      position: absolute;
      top: 0;
      left: 17px;
      width: -webkit-calc(100% - 34px);
      width: calc(100% - 34px);
      content: "";
      border-top: 1px solid #f0f0f0; }

.More {
  display: block;
  width: 100%;
  font: inherit;
  text-align: center;
  line-height: 60px;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #ffdb4d;
  -webkit-appearance: none; }

.SmallSnippet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 242px;
  height: 115px;
  font-size: 1rem;
  text-decoration: none;
  color: #666699;
  background: #fff; }
  .SmallSnippet-Cell {
    padding-left: 12px; }
  .SmallSnippet-Price {
    display: block;
    font-weight: bolder;
    color: #000000; }

.Footer {
  margin-top: 50px;
  padding: 12px 0;
  font-size: 0.9rem;
  border-top: 1px solid #ccc; }
  .Footer-Inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .Footer-Item {
    text-decoration: none;
    color: #8792a8; }

.menu-open {
  display: none;
  position: relative;
  width: 35px;
  height: 20px;
  cursor: pointer;
  z-index: 1; }
  .menu-open__global {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #bdc3c7;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    left: 0;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
    .menu-open__global_top {
      top: 0; }
      .menu-open__global_top_open {
        -webkit-transform: rotate(37deg);
            -ms-transform: rotate(37deg);
                transform: rotate(37deg);
        -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        -o-transition: transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s; }
    .menu-open__global_middle {
      top: 50%; }
      .menu-open__global_middle_open {
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        -o-transition: transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s; }
    .menu-open__global_bottom {
      top: 100%; }
      .menu-open__global_bottom_open {
        -webkit-transform: rotate(-37deg);
            -ms-transform: rotate(-37deg);
                transform: rotate(-37deg);
        -webkit-transform-origin: 0 100%;
            -ms-transform-origin: 0 100%;
                transform-origin: 0 100%;
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        -o-transition: transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s; }

@media (min-width: 1001px) {
  .menu-open {
    display: none !important; } }

@media screen and (max-width: 770px) {
  .menu-open {
    display: block !important; } }

.menu {
  /*меню хлебные крошки*/ }
  .menu_bread-crumbs {
    margin: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px; }
  .menu__link_bread-crumbs {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 12px; }
    .menu__link_bread-crumbs::after {
      display: block;
      position: absolute;
      top: 6px;
      content: "";
      width: 4px;
      height: 7px;
      background: url(../img/spritesheet.png) no-repeat -10px -10px;
      right: -2px; }
  .menu__item_bread-crumbs {
    line-height: 16px; }
    .menu__item_bread-crumbs:last-child .menu__link_bread-crumbs {
      padding-right: 0; }
      .menu__item_bread-crumbs:last-child .menu__link_bread-crumbs::after {
        display: none; }
  .menu__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .menu__item {
    display: inline-block;
    list-style: none;
    position: relative; }
  .menu__link {
    position: relative; }
  .menu_navigation_js {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: -1; }
    .menu_navigation_js .menu__items_navigation {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 0 10px; }
    .menu_navigation_js .menu__item_navigation {
      min-width: 100%; }
    .menu_navigation_js .menu__link_navigation {
      padding: 15px;
      padding-right: 30px;
      text-align: left; }
      .menu_navigation_js .menu__link_navigation::after {
        top: 24px; }
  .menu_navigation_open {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .menu__items_navigation {
    padding-right: 27px; }
  .menu__link_navigation {
    display: block;
    text-decoration: none;
    color: #34383d;
    padding: 0 27px 5px;
    font-size: 18px;
    line-height: 18px; }
    .menu__link_navigation::after {
      display: block;
      position: absolute;
      top: 8px;
      content: "";
      width: 7px;
      height: 4px;
      background: url(../img/spritesheet.png) no-repeat -10px -10px;
      right: 12px; }
    .menu__link_navigation_selected {
      color: #41bedd; }

@media screen and (max-width: 1110px) {
  .menu__items_navigation {
    padding-right: 15px; }
  .menu__link_navigation {
    padding-left: 5px; } }

@media screen and (max-width: 770px) {
  .menu_navigation {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: -1; }
    .menu_navigation_open {
      opacity: 1;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); }
  .menu__items_navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 10px; }
  .menu__item_navigation {
    min-width: 100%; }
  .menu__link_navigation {
    padding: 15px;
    padding-right: 30px;
    text-align: left; }
    .menu__link_navigation::after {
      top: 24px; } }

/*выпадающее меню первая вложенность*/
.dropdown__item {
  display: block;
  list-style: none; }

.dropdown__link {
  display: block;
  text-decoration: none;
  color: #34383d;
  border: 1px solid #ecf0f1;
  margin-top: -1px;
  padding: 10px 25px 10px 18px; }

.dropdown {
  top: 0;
  position: relative;
  background-color: #fff;
  border-left: 1px solid #ecf0f1;
  z-index: 1;
  display: none;
  position: absolute;
  background-color: #fff;
  text-align: left;
  width: 226px;
  left: 8px;
  top: 63px; }
  .dropdown__link {
    border: none;
    padding-bottom: 0; }
  .dropdown_open {
    display: block; }
  .dropdown::before {
    display: block;
    content: "";
    position: absolute;
    width: 50%;
    top: -2px;
    left: 0;
    height: 2px;
    background-color: #3fb8d6;
    z-index: 11; }
  .dropdown__item {
    position: relative; }
  .dropdown__link {
    padding-right: 31px;
    position: relative; }
    .dropdown__link::after {
      display: block;
      position: absolute;
      top: 20px;
      content: "";
      width: 7px;
      height: 4px;
      background: url(../img/spritesheet.png) no-repeat -10px -10px;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
      right: 17px; }
    .dropdown__link_selected {
      color: #41bedd; }

@media screen and (max-width: 1110px) {
  .dropdown {
    top: 53px; } }

@media screen and (max-width: 770px) {
  /*выпадающее меню первая вложенность*/
  .dropdown {
    top: 0;
    position: relative;
    background-color: #fff;
    border-left: 1px solid #ecf0f1;
    z-index: 1; }
    .dropdown__link {
      border: none;
      padding-bottom: 0; } }

@media screen and (max-height: 414px) {
  .dropdown {
    top: 43px; } }

/*вторая вложенность*/
.dropdown2 {
  display: none;
  position: absolute;
  background-color: #fff;
  text-align: left;
  left: 100%;
  top: 1px;
  left: 40px;
  top: 0;
  position: relative;
  background-color: #fff;
  border-left: 1px solid #ecf0f1;
  z-index: 1; }
  .dropdown2_open {
    display: block; }
  .dropdown2__item {
    display: block;
    list-style: none; }
  .dropdown2__link {
    display: block;
    text-decoration: none;
    color: #34383d;
    border: 1px solid #ecf0f1;
    margin-top: -1px;
    padding: 10px 25px 10px 18px;
    width: 225px;
    font-size: 16px; }
    .dropdown2__link_selected {
      color: #41bedd; }
  .dropdown2::before {
    display: block;
    content: "";
    position: absolute;
    width: 60%;
    top: 5px;
    left: -23px;
    height: 2px;
    background-color: #3fb8d6;
    z-index: 11; }
  .dropdown2__link {
    border: none;
    padding-bottom: 0; }

@media screen and (max-width: 770px) {
  /*вторая вложенность*/
  .dropdown2 {
    left: 40px;
    top: 0;
    position: relative;
    background-color: #fff;
    border-left: 1px solid #ecf0f1;
    z-index: 1; }
    .dropdown2::before {
      display: block;
      content: "";
      position: absolute;
      width: 60%;
      top: 5px;
      left: -23px;
      height: 2px;
      background-color: #3fb8d6;
      z-index: 11; }
    .dropdown2__link {
      border: none;
      padding-bottom: 0; }
  .grid__item {
    padding: 8px; } }

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  overflow: hidden; }
  .search__input {
    opacity: 0;
    width: 0;
    height: 30px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #bdc3c7;
    padding: 5px 30px;
    margin-right: 30px;
    -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
            transform: translateX(200px);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .search__input_open {
      opacity: 1;
      width: 200px;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      height: 30px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: 1px solid #bdc3c7;
      padding: 5px 30px;
      margin-right: 30px;
      outline: none;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  .search__btn {
    z-index: 20;
    font-size: 0;
    width: 41px;
    height: 41px;
    background: #fff; }

@media screen and (max-width: 370px) {
  .search__input_open {
    margin-right: 10px;
    width: 150px; }
  .head__h1 {
    font-size: 30px;
    line-height: 45px; } }

.Header {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; }
  .Header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .Header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff; }

.Intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../img/art/intro.jpg") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .Intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center; }
  .Intro__title {
    color: #ffffff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1; }
    .Intro__title:after {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      margin: 60px auto;
      background-color: #fff; }
  .Intro__suptitle {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #ffffff; }

.Nav {
  font-size: 0.9rem;
  text-transform: uppercase; }
  .Nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear; }
    .Nav__link:after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #fce38a;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0px;
      z-index: 1;
      -webkit-transition: opacity .1s linear;
      -o-transition: opacity .1s linear;
      transition: opacity .1s linear; }
    .Nav__link:hover {
      color: #fce38a; }
      .Nav__link:hover:after {
        opacity: 1; }
    .Nav__link.active {
      color: #fce38a; }
    .Nav__link.active:after {
      opacity: 1; }

.Btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border: 3px solid #fff;
  -webkit-transform: 1rem;
  -ms-transform: 1rem;
  transform: 1rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background .1s linear, color .1s linear;
  -o-transition: background .1s linear, color .1s linear;
  transition: background .1s linear, color .1s linear; }
  .Btn:hover {
    background: #fff;
    color: #333333; }

.Section {
  padding: 80px 0; }
  .Section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center; }
  .Section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.9rem;
    color: #333333; }
  .Section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase; }
    .Section__title:after {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      margin: 30px auto;
      background: #f38181; }
  .Section__text {
    font-size: 1rem;
    color: #999999; }

.Page {
  margin: 0;
  font-family: 'Montserrat',sans-serif;
  font-size: 1rem;
  color: #333333; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.Container {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto; }
