.shadow_sm {
  -webkit-box-shadow: 1px 1px 5px #aaa;
          box-shadow: 1px 1px 5px #aaa; }

.shadow_md {
  -webkit-box-shadow: 3px 3px 5px #aaa;
          box-shadow: 3px 3px 5px #aaa; }

.shadow_md {
  -webkit-box-shadow: 6px 6px 30px #aaa;
          box-shadow: 6px 6px 30px #aaa; }

.shadow_xl {
  -webkit-box-shadow: 10px 10px 50px #aaa;
          box-shadow: 10px 10px 50px #aaa; }

.Cards-item {
  max-width: 100%;
  position: relative;
  z-index: 1; }
  .Cards-item__img-wrapper {
    position: relative;
    min-width: 100%;
    height: 200px;
    overflow: hidden; }
  .Cards-item__img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .Cards-item__title {
    font-size: 1.7rem;
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.3rem 0.4rem;
    width: 100%;
    color: #222; }
  .Cards-item__divider {
    width: 100%;
    height: 1px;
    background: #ddd; }
  .Cards-item__text-item {
    padding: 0;
    margin: 0;
    color: #222222; }
  .Cards-item__footer {
    padding: 0.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .Cards-item__link {
    color: #1166ff;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    text-decoration: none;
    padding: 0.5rem 0.4rem 0.5rem; }
    .Cards-item__link:hover {
      color: #0c47b3;
      text-shadow: 1px 1px 1px #ddd; }
  .Cards-item__add-button {
    background: #1166ff;
    border: none;
    padding: 0.1rem 3rem;
    color: #ffffff;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    text-transform: uppercase;
    -webkit-box-shadow: 3px 3px 9px #aaa;
            box-shadow: 3px 3px 9px #aaa;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer; }
    .Cards-item__add-button:hover {
      background: #0e52cc; }
  .Cards-item__price {
    text-align: center;
    font-size: 13px;
    color: #f72464;
    font-weight: 600; }

@media screen and (min-width: 1200px) {
  .Cards-item {
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3); } }

@media screen and (max-width: 1200px) {
  .Cards-item {
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3); } }

@media screen and (max-width: 800px) {
  .Cards-item {
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2); } }

@media screen and (max-width: 590px) {
  .Cards-item {
    width: -webkit-calc(100%);
    width: calc(100%); } }
