.CardProduct {
  margin-bottom: 50px;
  font-family: 'Lora', serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .CardProduct__image {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px; }
  .CardProduct__image img {
    max-width: 100%; }
  .CardProduct__image.hovered .CardProduct__hover {
    opacity: 1; }
  .CardProduct__title {
    color: #222222;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600; }
  .CardProduct__price {
    text-align: center;
    font-size: 13px;
    color: #f72464;
    font-weight: 600; }
  .CardProduct__hover {
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .CardProduct__hover:hover {
      opacity: 1;
      -webkit-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
  .CardProduct__button {
    text-align: center;
    margin-bottom: 10px;
    background-color: #f72464;
    font-size: 1rem;
    color: #ffffff;
    padding-top: 10px;
    width: 100px;
    line-height: 1;
    height: 30px;
    display: inline-block;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 5px 30px 0 rgba(31, 35, 37, 0.3);
            box-shadow: 0 5px 30px 0 rgba(31, 35, 37, 0.3);
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    .CardProduct__button:hover {
      background-color: #da0f4d;
      text-decoration: none;
      -webkit-box-shadow: 0 5px 30px 0 rgba(31, 35, 37, 0.4);
              box-shadow: 0 5px 30px 0 rgba(31, 35, 37, 0.4);
      color: #ffffff; }

@media screen and (max-width: 760px) {
  .CardProduct {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .CardProduct__image {
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; } }
