.Card {
  margin: 80px -15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .Card__item {
    width: 33.33333%;
    padding: 0 15px; }
  .Card__inner {
    position: relative;
    background: #95e1d3; }
    .Card__inner:hover {
      -webkit-transform: translate3d(-10px, -10px, 0);
              transform: translate3d(-10px, -10px, 0); }
  .Card__img {
    -webkit-transform: translate3d(-10px, -10px, 0);
            transform: translate3d(-10px, -10px, 0); }
  .Card__inner:hover {
    opacity: 1; }
  .Card__img {
    background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
    background: -webkit-linear-gradient(top, #f38181, #fce38a);
    background: -o-linear-gradient(top, #f38181, #fce38a);
    background: linear-gradient(to bottom, #f38181, #fce38a);
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear; }
  .Card__img img {
    opacity: 1;
    display: block;
    max-width: 100%;
    height: auto;
    -webkit-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear; }
