.Services {
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .Services__item--border {
    border-bottom: 1px solid #e5e5e5; }
  .Services__item {
    width: 30%;
    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 40px; }
  .Services__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1; }
  .Services__title {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333333;
    text-transform: uppercase; }
  .Services__text {
    font-size: 1rem;
    color: #999999; }
