
.Nav {
    display: block;
    &.active {
        display: block;
    }
    font-size: 0.9rem;
    text-transform: uppercase;
    &__menu {
        width: 100%;
        height: auto;
    }
    &__link {
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;
        position: relative;

        color: #fff;
        text-decoration: none;

        transition: color .1s linear;
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: #fce38a;
            opacity: 0;
            position: absolute;
            top: 100%;
            left: 0px;
            z-index: 1;
            transition: opacity .1s linear;
        }
        &:hover {
            color: #fce38a;
            &:after {
                opacity: 1;
            }
        }
        &.active {
            color: #fce38a;
        }
        &.active:after {
            opacity: 1;
        }
    }

}

@media (max-width: 770px) {

    .Nav {
        display: block;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #eb8b8d;
        &__menu {
            z-index: 300;
            position: absolute;
            width: 100%;
            height:100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

    }

    &.active {
        display: block;
    }
    &__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }
}



