<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
				integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">

</head>
<body class="Page">
<header class="Header">
	<div class="Container">
		<div class="Header__inner">
			<div class="Header__logo">yourLogo</div>
			
			<nav class="Nav">
				<a class="Nav__link active" href="#">about</a>
				<a class="Nav__link" href="#">Service</a>
				<a class="Nav__link" href="#">Blog</a>
				<a class="Nav__link" href="#">Work</a>
				<a class="Nav__link" href="#">Contact</a>
				<a class="Nav__link" href="#">
					<i class="fas fa-shopping-cart"></i>
				</a>
				<a class="Nav__link" href="#">
					<i class="fas fa-search"></i>
				</a>
			</nav>
		</div>
	</div>
</header>


<div class="Intro">
	<div class="Container">
		<div class="Intro__inner">
			<h2 class="Intro__suptitle">Можно сделать фото на весь экран</h2>
			<h1 class="Intro__title">Как вариант</h1>
			
			<a class="Btn" href="index2.html">переход на другую страницу</a>
		</div>
	</div>
	
	<!--<div class="slider">
		<div class="container">
			<div class="slider__inner">
				<div class="slider__item active">
					<span class="slider__num">01</span>
					<span class="slider__text">Intro</span>
				</div>
				<div class="slider__item">
					<span class="slider__num">02</span>
					<span class="slider__text">Work</span>
				</div>
				<div class="slider__item">
					<span class="slider__num">03</span>
					<span class="slider__text">About</span>
				</div>
				<div class="slider__item">
					<span class="slider__num">04</span>
					<span class="slider__text">Contacts</span>
				</div>
			</div>
		</div>
	</div>-->

</div><!-- /.intro -->


<section class="Section">
	<div class="Container">
		
		<div class="Section__header">
			<h3 class="Section__suptitle">Можно что-то описать</h3>
			<h2 class="Section__title">История о себе</h2>
			<div class="Section__text">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
			</div>
		</div>
		<div class="Row">
			<div class="CardProduct">
				<div class="CardProduct__image">
					<img src="img/art/art.jpg" alt="">
					<div class="CardProduct__hover">
						<a href="#" class="CardProduct__button">название товара</a>
						<!--<a href="#" class="CardProduct__button"></a>-->
					</div>
				</div>
				<div class="CardProduct__title">Описание товара</div>
				<div class="CardProduct__price">
					<span>100$</span>
				</div>
			</div>
			<div class="CardProduct">
				<div class="CardProduct__image">
					<img src="img/art/art.jpg" alt="">
					<div class="CardProduct__hover">
						<a href="#" class="CardProduct__button">Заказать</a>
						<!--<a href="#" class="CardProduct__button"></a>-->
					</div>
				</div>
				<div class="CardProduct__title">Название товара</div>
				<div class="CardProduct__price">
					<span>100$</span>
				</div>
			</div>
			<div class="CardProduct">
				<div class="CardProduct__image">
					<img src="img/art/art.jpg" alt="">
					<div class="CardProduct__hover">
						<a href="#" class="CardProduct__button">Заказать </a>
						<!--<a href="#" class="CardProduct__button"></a>-->
					</div>
				</div>
				<div class="CardProduct__title">Название товара</div>
				<div class="CardProduct__price">
					<span>100$</span>
				</div>
			</div>
		</div>
		<div class="Row">
			<div class="CardProduct">
				<div class="CardProduct__image">
					<img src="img/art/art.jpg" alt="">
					<div class="CardProduct__hover">
						<a href="#" class="CardProduct__button">Заказать</a>
						<!--<a href="#" class="CardProduct__button"></a>-->
					</div>
				</div>
				<div class="CardProduct__title">Название товара</div>
				<div class="CardProduct__price">
					<span>100$</span>
				</div>
			</div>
			<div class="CardProduct">
				<div class="CardProduct__image">
					<img src="img/art/art.jpg" alt="">
					<div class="CardProduct__hover">
						<a href="#" class="CardProduct__button">Заказать</a>
						<!--<a href="#" class="CardProduct__button"></a>-->
					</div>
				</div>
				<div class="CardProduct__title">Название товара</div>
				<div class="CardProduct__price">
					<span>100$</span>
				</div>
			</div>
			<div class="CardProduct">
				<div class="CardProduct__image">
					<img src="img/art/art.jpg" alt="">
					<div class="CardProduct__hover">
						<a href="#" class="CardProduct__button">Заказать </a>
						<!--<a href="#" class="CardProduct__button"></a>-->
					</div>
				</div>
				<div class="CardProduct__title">Название товара</div>
				<div class="CardProduct__price">
					<span>100$</span>
				</div>
			</div>
		</div>
	
	
	</div><!-- /.container -->
</section>


<!--<div class="statistics">-->
<!--<div class="container">-->
<!---->
<!--<div class="stat">-->
<!--<div class="stat__item">-->
<!--<div class="stat__count">42</div>-->
<!--<div class="stat__text">Web Design Projects</div>-->
<!--</div>-->
<!--<div class="stat__item">-->
<!--<div class="stat__count">123</div>-->
<!--<div class="stat__text">happy client</div>-->
<!--</div>-->
<!--<div class="stat__item">-->
<!--<div class="stat__count">15</div>-->
<!--<div class="stat__text">award winner</div>-->
<!--</div>-->
<!--<div class="stat__item">-->
<!--<div class="stat__count">99</div>-->
<!--<div class="stat__text">cup of coffee</div>-->
<!--</div>-->
<!--<div class="stat__item">-->
<!--<div class="stat__count">24</div>-->
<!--<div class="stat__text">members</div>-->
<!--</div>-->
<!--</div>-->
<!---->
<!--</div>-->
<!--</div>-->

<section class="Section">
	<div class="Container">
		<div class="Section__header">
			<h3 class="Section__suptitle">что нибудь о работе</h3>
			<h2 class="Section__title">Подзаголовок</h2>
		</div>
	</div>
	
	<div class="Services">
		<div class="Services__item  Services__item--border">
			<img class="Services__icon" src="img/services/photography.png" alt="">
			
			<div class="Services__title">Photography</div>
			<div class="Services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
		</div>
		<div class="services__item  Services__item--border">
			<img class="Services__icon" src="img/services/webdesign.png" alt="">
			
			<div class="Services__title">Web Design</div>
			<div class="Services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
		</div>
		<div class="Services__item  Services__item--border">
			<img class="Services__icon" src="img/services/webdesign.png" alt="">
			
			<div class="Services__title">Creativity</div>
			<div class="Services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
		</div>
		<div class="Services__item  Services__item--border">
			<img class="Services__icon" src="img/services/seo.png" alt="">
			
			<div class="Services__title">seo</div>
			<div class="Services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
		</div>
		<div class="Services__item  Services__item--border">
			<img class="Services__icon" src="img/services/css-html.png" alt="">
			
			<div class="Services__title">Css/Html</div>
			<div class="Services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
		</div>
		<div class="Services__item  Services__item--border">
			<img class="Services__icon" src="img/services/digital.png" alt="">
			
			<div class="Services__title">digital</div>
			<div class="Services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
		</div>
	</div>
</section>


<section class="Section">
	<div class="Container">
		<div class="Section__header">
			<h3 class="Section__suptitle">что нибудь о работе</h3>
			<h2 class="Section__title">Подзаголовок</h2>
		</div>
	</div>
	
	<!--&lt;!&ndash;	<div class="header-basket">-->
	<!--<p class="basket-toggle">-->
	<!--<svg width="24" height="24" viewBox="0 0 24 24">-->
	<!--<path-->
	<!--d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z"></path>-->
	<!--</svg>-->
	<!--<span class="basket-toggle__counter">( 1 ) </span>-->
	<!--<span>basket</span>-->
	<!--</p>-->
	<!--</div>&ndash;&gt;-->
	
	<!--<div class="basket-component" id="bsk">
		<div class="basket-component__wrapper">
			<h2 class="basket-component__empty" v-if="emptyArray">No current items</h2>
			<div class="basket-component__item" v-for="item in items" :key="item.id">
				<button class="basket-component__delete-btn" @click="delMeth(item.id)">x</button>
				<div class="basket-component__img" :syle="{backgraundImage:'url('+ item.img +')'}"></div>
				<div class="basket-component__content">
					<h3 class="basket-component__title">{{item name}}</h3>
					<p class="basket-component__descr">Weight: <span class="basket-component__weight">{{item.weight}}</span></p>
					<p class="basket-component__descr">Price: <span class="basket-component__price">{{item.weight}}</span></p>
					<div class="basket-component__amout">
						<button class="basket-component__count-btn basket-component__count-btn-min" @click="minMeth(item.id)">-
						</button>
						<span class="basket-component__count-output">{{item.amout}}</span>
						<button class="basket-component__count-btn basket-component__count-btn-max" @click="minMeth(item.id)">+
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="basket-component__total-block">
		<h3 class="basket-component__title basket-component__title&#45;&#45;intotal">Total:</h3>
		<p class="basket-component__descr basket-component__descr&#45;&#45;intotal">Weight:
			<span class="basket-component__weight basket-component__wight-intottal">{{Math.floot()}}</span>
		</p>
		
		<p class="basket-component__descr basket-component__descr&#45;&#45;intotal">Price:
			<span class="basket-component__price basket-component__price-intotal">{{ Math.floor(getTotalValues.p * 100) / 100 }}</span>
		</p>
		<button class="basket-component__continue-btn" @click="toggleSendWindow" :disabled='!items.length'>Continue</button>
	</div>
	<div :class="{'basket-component__send-layout': true, 'basket-component__send-layout&#45;&#45;isActive': sendWindow }">
		<button class="basket-component__close-btn" @click="toggleSendWindow">x</button>
		<p :class="{'basket-component__banner': true, 'basket-component__banner&#45;&#45;isActive': bannerStatus }"><span>{{ bannerContent }}</span>
		</p>
		<form class="basket-component__form">
			<label class="basket-component__label">
				<span class="basket-component__label-content">name</span>
				<input class="basket-component__input" type="text" v-model = "name" required/>
			</label>
			<label class="basket-component__label">
				<span class="basket-component__label-content">phone</span>
				<input class="basket-component__input" type="text" v-model="phone" required/>
			</label>
			<label class="basket-component__label">
				<span class="basket-component__label-content">email</span>
				<input class="basket-component__input" type="text" v-model="email" required/>
			</label>
			<button class="basket-component__send" @click.prevent="sendOrder">confirm</button>
		</form>
	</div>
	-->
	
	<div class="Cards-row">
		<acticle class="Cards-item shadow_lg">
			<div class="Cards-item__img-wrapper">
				<h3 class="Cards-item__title h-reset h-posotopn-t">Название товара</h3>
				<img class="Cards-item__img" src="img/works/2.jpg" alt="card-img">
			</div>
			<div class="Cards-item__content">
				<p class="Cards-item__text-item">Описание товара</p>
			</div>
			<div class="Cards-item__price">
				<span>100$</span>
			</div>
			<div class="Cards-item__divider"></div>
			<div class="Cards-item__footer">
				<a href="" class="Cards-item__link">подробнее</a>
				<button class="Cards-item__add-button" data-item-id="1226" data-item-img="img/works/3.jpg"
								data-item-name="Some title" data-item-weight="12.00" data-item-price="12.56">add
				</button>
			</div>
		</acticle>
		<acticle class="Cards-item shadow_lg">
			<div class="Cards-item__img-wrapper">
				<h3 class="Cards-item__title h-reset h-posotopn-t">Some title</h3>
				<img class="Cards-item__img" src="img/works/2.jpg" alt="card-img">
			</div>
			<div class="Cards-item__content">
				<p class="Cards-item__text-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at
					consequuntur distinctio fugit, illo laudantium officiis rerum sunt vel voluptates?</p>
			</div>
			<div class="Cards-item__price">
				<span>100$</span>
			</div>
			<div class="Cards-item__divider"></div>
			<div class="Cards-item__footer">
				<a href="" class="Cards-item__link">подробнее</a>
				<button class="Cards-item__add-button" data-item-id="1226" data-item-img="img/works/3.jpg"
								data-item-name="Some title" data-item-weight="12.00" data-item-price="12.56">add
				</button>
			</div>
		</acticle>
		<acticle class="Cards-item shadow_lg">
			<div class="Cards-item__img-wrapper">
				<h3 class="Cards-item__title h-reset h-posotopn-t">Some title</h3>
				<img class="Cards-item__img" src="img/works/2.jpg" alt="card-img">
			</div>
			<div class="Cards-item__content">
				<p class="Cards-item__text-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at
					consequuntur distinctio fugit, illo laudantium officiis rerum sunt vel voluptates?</p>
			</div>
			<div class="Cards-item__price">
				<span>100$</span>
			</div>
			<div class="Cards-item__divider"></div>
			<div class="Cards-item__footer">
				<a href="" class="Cards-item__link">подробнее</a>
				<button class="Cards-item__add-button" data-item-id="1226" data-item-img="img/works/3.jpg"
								data-item-name="Some title" data-item-weight="12.00" data-item-price="12.56">add
				</button>
			</div>
		</acticle>
	</div>
	
	<div class="Cards-row">
		<acticle class="Cards-item shadow_lg">
			<div class="Cards-item__img-wrapper">
				<h3 class="Cards-item__title h-reset h-posotopn-t">Some title</h3>
				<img class="Cards-item__img" src="img/works/2.jpg" alt="card-img">
			</div>
			<div class="Cards-item__content">
				<p class="Cards-item__text-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at
					consequuntur distinctio fugit, illo laudantium officiis rerum sunt vel voluptates?</p>
			</div>
			<div class="Cards-item__price">
				<span>100$</span>
			</div>
			<div class="Cards-item__divider"></div>
			<div class="Cards-item__footer">
				<a href="" class="Cards-item__link">подробнее</a>
				<button class="Cards-item__add-button" data-item-id="1226" data-item-img="img/works/3.jpg"
								data-item-name="Some title" data-item-weight="12.00" data-item-price="12.56">add
				</button>
			</div>
		</acticle>
		<acticle class="Cards-item shadow_lg">
			<div class="Cards-item__img-wrapper">
				<h3 class="Cards-item__title h-reset h-posotopn-t">Some title</h3>
				<img class="Cards-item__img" src="img/works/2.jpg" alt="card-img">
			</div>
			<div class="Cards-item__content">
				<p class="Cards-item__text-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at
					consequuntur distinctio fugit, illo laudantium officiis rerum sunt vel voluptates?</p>
			</div>
			<div class="Cards-item__price">
				<span>100$</span>
			</div>
			<div class="Cards-item__divider"></div>
			<div class="Cards-item__footer">
				<a href="" class="Cards-item__link">подробнее</a>
				<button class="Cards-item__add-button" data-item-id="1226" data-item-img="img/works/3.jpg"
								data-item-name="Some title" data-item-weight="12.00" data-item-price="12.56">add
				</button>
			</div>
		</acticle>
		<acticle class="Cards-item shadow_lg">
			<div class="Cards-item__img-wrapper">
				<h3 class="Cards-item__title h-reset h-posotopn-t">Some title</h3>
				<img class="Cards-item__img" src="img/works/2.jpg" alt="card-img">
			</div>
			<div class="Cards-item__content">
				<p class="Cards-item__text-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at
					consequuntur distinctio fugit, illo laudantium officiis rerum sunt vel voluptates?</p>
			</div>
			<div class="Cards-item__price">
				<span>100$</span>
			</div>
			<div class="Cards-item__divider"></div>
			<div class="Cards-item__footer">
				<a href="" class="Cards-item__link">подробнее</a>
				<button class="Cards-item__add-button" data-item-id="1226" data-item-img="img/works/3.jpg"
								data-item-name="Some title" data-item-weight="12.00" data-item-price="12.56">add
				</button>
			</div>
		</acticle>
	</div>

</section>

<section class="Section Section--devices">
	<div class="Container">
		<div class="Section__header">
			<h3 class="Section__suptitle">Новый заголовок</h3>
			<h2 class="Section__title">Позаголовок</h2>
		</div>
		<div class="Devices">
			<img src="img/works/1.jpg" alt="" class="Devices__item">
		</div>
	</div>
</section>

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>