@mixin column{
    display: flex;
    align-items: center;
    flex-direction: column;
}
@mixin space {
        display: flex;
        justify-content: space-between;
        align-items: center;
}
@mixin line {
 outline: 1px solid black;
}
