.Button {
  padding: 0 12px;
  font-size: 15px;
  line-height: 38px;
  color: #202020;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #e8e8e8; }

.Search-Button {
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0; }
