.button-outline {
  background-color: #f72464;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  height: 38px;
  font-size: 14px;
  font-family: 'lora', Serif;
  text-transform: uppercase;
  color: #919191;
  line-height: 1;
  padding-top: 12px;
  width: 220px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.button-outline:hover {
  border-color: #f72464;
  color: #fff;
  text-decoration: none; }
