.fa-angle-down {
  display: none; }

.card {
  background-color: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15); }
  .card__header {
    padding: 15px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__title {
    text-transform: uppercase;
    font-weight: bolder; }
  .card__button {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__body {
    padding: 0 15px 15px; }
  .card__img {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    max-width: 100%;
    margin-right: 10px;
    float: left; }
  .card__description {
    text-align: start;
    font-size: 1.6rem;
    line-height: 1.7rem;
    font-weight: 500; }
  @media screen and (max-width: 992px) {
    .card .card__body {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .card .card__img {
      max-width: 100%;
      margin-bottom: 10px;
      float: none; }
    .card .card__description {
      width: 100%;
      text-align: center; } }
