@charset "UTF-8";
.menu {
  /*меню хлебные крошки*/ }
  .menu_bread-crumbs {
    margin: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px; }
  .menu__link_bread-crumbs {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 12px; }
    .menu__link_bread-crumbs::after {
      display: block;
      position: absolute;
      top: 6px;
      content: "";
      width: 4px;
      height: 7px;
      background: url(../img/spritesheet.png) no-repeat -10px -10px;
      right: -2px; }
  .menu__item_bread-crumbs {
    line-height: 16px; }
    .menu__item_bread-crumbs:last-child .menu__link_bread-crumbs {
      padding-right: 0; }
      .menu__item_bread-crumbs:last-child .menu__link_bread-crumbs::after {
        display: none; }
  .menu__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .menu__item {
    display: inline-block;
    list-style: none;
    position: relative; }
  .menu__link {
    position: relative; }
  .menu_navigation_js {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: -1; }
    .menu_navigation_js .menu__items_navigation {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 0 10px; }
    .menu_navigation_js .menu__item_navigation {
      min-width: 100%; }
    .menu_navigation_js .menu__link_navigation {
      padding: 15px;
      padding-right: 30px;
      text-align: left; }
      .menu_navigation_js .menu__link_navigation::after {
        top: 24px; }
  .menu_navigation_open {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .menu__items_navigation {
    padding-right: 27px; }
  .menu__link_navigation {
    display: block;
    text-decoration: none;
    color: #34383d;
    padding: 0 27px 5px;
    font-size: 18px;
    line-height: 18px; }
    .menu__link_navigation::after {
      display: block;
      position: absolute;
      top: 8px;
      content: "";
      width: 7px;
      height: 4px;
      background: url(../img/spritesheet.png) no-repeat -10px -10px;
      right: 12px; }
    .menu__link_navigation_selected {
      color: #41bedd; }

@media screen and (max-width: 1110px) {
  .menu__items_navigation {
    padding-right: 15px; }
  .menu__link_navigation {
    padding-left: 5px; } }

@media screen and (max-width: 770px) {
  .menu_navigation {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: -1; }
    .menu_navigation_open {
      opacity: 1;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); }
  .menu__items_navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 10px; }
  .menu__item_navigation {
    min-width: 100%; }
  .menu__link_navigation {
    padding: 15px;
    padding-right: 30px;
    text-align: left; }
    .menu__link_navigation::after {
      top: 24px; } }
