.top {
  position: absolute;
  background-color: #fff;
  top: 3px;
  width: 100%;
  height: 101px;
  z-index: 10;
  border-bottom: 1px solid #e8e8e8; }
  .top__container {
    max-width: 1200px;
    padding: 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    height: 100%; }
  .top__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    height: 100%; }

@media screen and (max-width: 1110px) {
  .top {
    height: 80px; } }

@media screen and (max-width: 770px) {
  .top {
    position: relative !important; } }

@media screen and (max-height: 414px) {
  .top {
    position: relative !important;
    height: 60px; } }
