.header__row {
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.header__content {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 670px;
	/*background: #f7246355;*/

}

.header__title {
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	font-size: 72px;
	line-height: 96px;
}

.header__text {
	margin-bottom: 60px;
	font-size: 22px;
	line-height: 1.5;
}

