.wedo {
  margin: auto;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
    /* min-width: 350px; */
  
  }
  .wedo__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video {
    max-width:100%;
  }
 
  @media(max-width:1200px) {
  
  
  
  }
  
  @media(max-width:900px) {
   
  
    .wedo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .wedo__item {
      width:100%;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .accordion {
      display: block;
      width: 100%;
      margin: auto;
    }
   
  }
  
  @media(max-width:575px) {
   
  }