.button {
	display: inline-block;
	padding: 11px 33px 14px;
	background: #F72464;
	box-shadow: 0 4px 15px rgba(123,12,46,0.35);
	border-radius: 4px;
	font-family:'Playfair Display', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height:1;
	text-align: center;
	text-decoration: none;
	color: #ffffff;

}
.button:hover {
	box-shadow: 0 4px 15px rgba(184,13,64,0.671);
	transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;
}