.nav {
	padding: 40px 0;
}

.nav__row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav__logo,
.nav__link {
	margin-right: 83px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	color: #000;
}

.nav__link:hover {
	text-decoration: underline;
}

.nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.nav__item {
	/* margin-right: 3px; */
	font-size: 8px;
}
.nav__item:last-child {
	margin-right: 0;
}

.nav__link {
	text-decoration: none;
	color: #000;
}
.nav__link:hover {
	color:#f72464;;
}
.nav__cart {
	margin-left: auto;
}
.nav__cart-link {
	display: block;
	top: 5px;
	padding: 5px;
	position: relative;
}
.nav__cart-number {
	position: absolute;
	top: -5px;
	right: -5px;
	width: 20px;
	height: 20px;
	background: #F72464;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	border-radius: 50%;
}
